@model List<AfReparosAutomotivos.Models.Servicos>

@{
    ViewData["Title"] = "Lista de Serviços";
}

<div class=""><a asp-controller="Servicos" asp-action="Create" class="btn btn-primary fw-semibold">Novo Serviço</a></div> 
<br>
<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <th class="text-left fw-semibold" scope="col">@Html.DisplayNameFor(model => model.First().IdServico)</th>
            <th class="text-left fw-semibold" scope="col">@Html.DisplayNameFor(model => model.First().Descricao)</th>
            <th class="text-left fw-semibold" scope="col">@Html.DisplayNameFor(model => model.First().PrecoBase)</th>
            <th class="text-end fw-semibold" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdServico)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PrecoBase)
                </td>
                <td class="d-flex align-middle justify-content-end gap-2">
                    <a asp-action="Details" asp-route-id="@item.IdServico" class="btn btn-sm" title="Ver">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.IdServico" class="btn btn-sm" title="Editar">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.IdServico" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm" title="Excluir"
                                onclick="return confirm('Tem certeza que deseja excluir o Orçamento @item.IdServico?');">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
